<!DOCTYPE html>
<html lang="en">
<head>
    <title>Raport użytkowników Course Manager Application</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


</head>
<body>
<nav>
    <span style="font-size: 24px;">🐿 Course Manager Application | Zarządzanie użytkownikami </span>
    <br>
    <br>
    <a href="/home" class="move-right">Strona główna </a>
    <a href="/user/management" class="move-right">Zarządzanie użytkownikami</a>
    <a href="/courses/management" class="move-right">Zarządzanie kursami</a>
    <a href="/blocks/management" class="move-right">Zarządzanie blokami zajęć</a>
    <a href="/lessons/management" class="move-right">Zarządzanie lekcjami</a>

</nav>
<div th:if="${successMessage}">
    <div class="alert alert-success" th:text="${successMessage}"></div>
</div>
<div th:if="${errorMessage}">
    <div class="alert alert-danger" th:text="${errorMessage}"></div>
</div>

<br><br>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nazwa użytkownika</th>
        <th>Email</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Status</th>
        <th>Rola</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${usersList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.active}"></td>
        <td>
            <span th:each="role : ${user.roles}" th:text="${role.name}"></span>
        </td>

        <td class="actions-column">

            <i class="fas fa-trash-alt delete-user" style="color: red;" th:attr="data-user-id=${user.id}"></i>
            <a th:href="@{'/user/edit/' + ${user.id}}">
                <button type="button" style="color: #fff; border: none; border-radius: 3px; cursor: pointer; padding: 5px 10px;">
                    <i class="fas fa-edit" style="color: blue;"></i> <!-- Ikona ołówka -->
                </button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<button type="button" style="color: #fff; background-color: green; border: none; border-radius: 3px; cursor: pointer; padding: 5px 10px; margin-top: 10px;" onclick="location.href='/user/add'">
    <i class="fas fa-plus"></i> Dodaj
</button>

<footer>
    <form th:action="@{/logout}" method="post">
        <button class="logout-button">
            <i class="fas fa-sign-out-alt"></i> Wyloguj
        </button>
    </form>
    <br>
    <p>Made by Wiewiórki</p>
</footer>

<!--DELETE-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let deleteButtons = document.querySelectorAll('.delete-user');

        deleteButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                let userId = button.getAttribute('data-user-id');
                if (confirm('Czy na pewno chcesz usunąć użytkownika o ID ' + userId + '?')) {
                    // Use fetch API for simplicity (you can still use XMLHttpRequest)
                    fetch('/user/delete/' + userId, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    })
                        .then(response => {
                            if (response.ok) {
                                // User deleted successfully, you can update the UI or reload the page
                                location.reload();
                            } else {
                                // Handle errors or display a message
                                alert('Nie udało się usunąć użytkownika.');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert('Wystąpił błąd podczas usuwania użytkownika.');
                        });
                }
            });
        });
    });
</script>
<!--DELETE-->

</body>

</html>