<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Dodaj użytkownika</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>


        form {
            max-width: 400px;
            margin: 50px 0;
        }
        label {
            display: block;
            margin-bottom: 1px;
            color: #555;
        }
        input, select {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }
        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<header>
    <h1> 🐿️Course Manager Application</h1>
    <div class="header-buttons">
        <button onclick="location.href='/home'" class="logout-button">
            <i class="fas fa-home"></i> Home
        </button>
    </div>
</header>

<h2>Dodaj użytkownika</h2>


<form th:action="@{/user/add}" method="post" th:object="${userDto}" onsubmit="return validateForm()">
    <label for="username">Nazwa użytkownika:</label>
    <input type="text" id="username" name="username" th:field="*{username}" required>

    <label for="password">Hasło:</label>
    <input type="password" id="password" name="password" th:field="*{password}" required>

    <label for="email">Adres email:</label>
    <input type="email" id="email" name="email" th:field="*{email}" required>

    <label for="name">Imię:</label>
    <input type="text" id="name" name="name" th:field="*{name}">

    <label for="surname">Nazwisko:</label>
    <input type="text" id="surname" name="surname" th:field="*{surname}">

    <label for="active">Aktywny:</label>
    <input type="checkbox" id="active" name="active" th:field="*{active}">

    <label for="roles">Rola:</label> <select id="roles" name="roles" multiple="multiple" th:field="*{roles}" class="form-control">
    <!-- Pętla w celu wyboru ról, np.: --> <option th:each="role : ${roleList}" th:value="${role.id}" th:text="${role.name}"></option> </select>

    <button type="submit">Dodaj użytkownika</button>
</form>

<script>
    function validateForm() {
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;
        var email = document.getElementById('email').value;
        var name = document.getElementById('name').value;
        var surname = document.getElementById('surname').value;
        var roles = document.getElementById('roles').value;

        // Sprawdzanie, czy pola są wypełnione
        if (username === '' || password === '' || email === '' || name === '' || surname === '' || roles === '') {
            alert('Proszę wypełnić wszystkie wymagane pola.');
            return false;
        }

        // Sprawdzanie poprawności adresu email
        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (!emailRegex.test(email)) {
            alert('Proszę podać poprawny adres email.');
            return false;
        }

        // Sprawdzanie, czy imię i nazwisko zawierają tylko litery
        var nameRegex = /^[a-zA-Z]+$/;
        if (!nameRegex.test(name) || !nameRegex.test(surname)) {
            alert('Imię i nazwisko mogą zawierać tylko litery.');
            return false;
        }

        // Sprawdzanie, czy nazwa użytkownika zawiera tylko litery i cyfry
        var usernameRegex = /^[a-zA-Z0-9]+$/;
        if (!usernameRegex.test(username)) {
            alert('Nazwa użytkownika może zawierać tylko litery i cyfry.');
            return false;
        }

        return true; // Formularz jest poprawny
    }
</script>

<footer>
    <form th:action="@{/logout}" method="post">
        <button class="logout-button">
            <i class="fas fa-sign-out-alt"></i> Wyloguj <!-- Ikona wylogowania -->
        </button>
    </form>
    <br>
    <p>Made by Wiewiórki</p>
</footer>
</body>
</html>

