<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Course Manager Application</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>



    </style>
</head>
<body>

<!-- Navbar -->
<nav>
    <span style="font-size: 24px;">🐿️ Course Manager Application | Zarządzaj kursami</span>
    <br>
    <br>
    <a href="/home" class="move-right">Strona główna </a>
    <a href="/user/management" class="move-right">Zarządzanie użytkownikami</a>
    <a href="/courses/management" class="move-right">Zarządzanie kursami</a>
    <a href="/blocks/management" class="move-right">Zarządzanie blokami zajęć</a>
    <a href="/lessons/management" class="move-right">Zarządzanie lekcjami</a>

</nav>


<br>
<br>

<button onclick="openModal()"
        style="padding: 8px 15px; background-color: #007bff; color: #fff; border: none; border-radius: 3px; cursor: pointer;">
    Dodaj kurs
</button>

<div id="myModal" class="modal">
    <div class="modal-content" style="max-width: 400px;">
        <span class="close" onclick="closeModal()">&times;</span>
        <form th:action="@{/courses/add}" method="post">
            <label for="courseName">Nazwa kursu:</label>
            <input type="text" id="courseName" name="name" required>

            <button type="submit"
                    style="margin-top: 10px; padding: 8px 15px; background-color: #007bff; color: #fff; border: none; border-radius: 3px; cursor: pointer;">
                Dodaj
            </button>
        </form>
    </div>
</div>


<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>#Studenci</th>
        <th>#Bloki</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <!-- ... -->
    <tbody>
    <!-- Tutaj dodaj fragment z listą kursów, studentów i bloków -->
    <tr th:each="course : ${coursesList}">
        <td th:text="${course.id}"></td>
        <td th:text="${course.name}"></td>
        <td th:utext="${course.students.size()}"></td>
        <td th:utext="${course.blocks.size()}"></td>
        <td class="actions-column">
            <a th:href="@{'/courses/manage/' + ${course.id}}">
                <button type="button" style="background-color: #007bff; color: #fff; border: none; border-radius: 3px; cursor: pointer; padding: 5px 10px;">
                    Zarządzaj kursem
                </button>
            </a>


            <i class="fas fa-trash-alt delete-course" style="color: red;" th:attr="data-course-id=${course.id}"></i>
        </td>


    </tr>
    <!-- Tutaj koniec fragmentu -->
    </tbody>
    <!-- ... -->

    <!-- Tutaj koniec fragmentu -->
    </tbody>
</table>

<footer>
    <form th:action="@{/logout}" method="post">
        <button class="logout-button">
            <i class="fas fa-sign-out-alt"></i> Wyloguj
        </button>
    </form>
    <br>
    <p>Made by Wiewiórki</p>
</footer>

<!--DELETE-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let deleteButtons = document.querySelectorAll('.delete-course');

        deleteButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                let courseId = button.getAttribute('data-course-id');
                if (confirm('Czy na pewno chcesz usunąć kurs o ID ' + courseId + '?')) {
                    fetch('/courses/delete/' + courseId, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    })
                        .then(response => {
                            if (response.ok) {
                                location.reload();
                            } else {
                                alert('Nie udało się usunąć kursu.');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert('Wystąpił błąd podczas usuwania kursu.');
                        });
                }
            });
        });
    });

    function openModal() {
        document.getElementById('myModal').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('myModal').style.display = 'none';
    }

</script>

</body>
</html>
