<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodawanie kursu | Course Manager Application</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<header>
    <h1> 🐿️Course Manager Application</h1>
    <div class="header-buttons">
        <button onclick="location.href='/home'" class="logout-button">
            <i class="fas fa-home"></i> Home <!-- Ikona domu -->
        </button>

    </div>
</header>

<div class="header-title">
    <p>Dodawanie kursu</p>
</div>
<br>
<br>

<h2>Dodaj kurs</h2>


<form th:action="@{/courses/add}" method="post">
    <label for="courseName">Nazwa kursu:</label>
    <input type="text" id="courseName" name="name" required>

    <button type="submit">Dodaj kurs</button>
</form>

<footer>
    <form th:action="@{/logout}" method="post">
        <button class="logout-button">
            <i class="fas fa-sign-out-alt"></i> Wyloguj
        </button>
    </form>
    <br>
    <p>Made by Wiewiórki</p>
</footer>

</body>
</html>
