<!DOCTYPE html>
<html lang="en">
<head>
    <title>Raport kursów Course Manager Application</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<header>
    <h1> 🐿️Course Manager Application</h1>
    <div class="header-buttons">
        <button onclick="location.href='/home'" class="logout-button">
            <i class="fas fa-home"></i> Home
        </button>
    </div>
</header>

<br>
<br>
<div class="header-title">
    <p>Raport kursów</p>
</div>

<div class="button-column">
    <button onclick="location.href='/courses/add'" class="button">
        <span class="icon">➕</span>
        Dodaj kurs
    </button>
</div>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${coursesList}">
        <td th:text="${course.id}"></td>
        <td th:text="${course.name}"></td>
        <td class="actions-column">
            <i class="fas fa-edit" style="color: blue;"></i>
            <i class="fas fa-trash-alt delete-course" style="color: red;"
               th:attr="data-course-id=${course.id}"></i>
        </td>
    </tr>
    </tbody>
</table>

<footer>
    <form th:action="@{/logout}" method="post">
        <button class="logout-button">
            <i class="fas fa-sign-out-alt"></i> Wyloguj
        </button>
    </form>
    <br>
    <p>Made by Wiewiórki</p>
</footer>

<!--DELETE-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let deleteButtons = document.querySelectorAll('.delete-course');

        deleteButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                let courseId = button.getAttribute('data-course-id');
                if (confirm('Czy na pewno chcesz usunąć kurs o ID ' + courseId + '?')) {
                    fetch('/courses/delete/' + courseId, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    })
                        .then(response => {
                            if (response.ok) {
                                location.reload();
                            } else {
                                alert('Nie udało się usunąć kursu.');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert('Wystąpił błąd podczas usuwania kursu.');
                        });
                }
            });
        });
    });
</script>

</body>
</html>
