<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Raport kursów Course Manager Application</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    >
</head>
<body>

<header>
    <h1> 🐿️Course Manager Application</h1>
    <div class="header-buttons">
        <button onclick="location.href='/home'" class="logout-button">
            <i class="fas fa-home"></i> Home
        </button>
    </div>
</header>

<br>
<br>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Temat</th>
        <th>Data</th>
        <th>Czas trwania</th>
        <th>Akcje</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="lesson : ${lessonsList}">
        <td th:text="${lesson.id}"></td>
        <td th:text="${lesson.subject}"></td>
        <td th:text="${lesson.localDateTime}"></td>
        <td th:text="${lesson.duration}"></td>
        <td class="actions-column">
<!--            <a th:href="@{'/lessons/manage/' + ${lesson.id}}">-->
                <button type="button" style="background-color: #007bff; color: #fff; border: none; border-radius: 3px; cursor: pointer; padding: 5px 10px;">
                    Zarządzaj lekcją
                </button>
            </a>
            <form th:action="@{'/lessons/delete/' + ${lesson.id}}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="delete-button">
                    <i class="fas fa-trash-alt delete-lesson" style="color: red;"></i>
                </button>
            </form>
        </td>
    </tr>
    </tbody>

</table>
<footer>
    <form th:action="@{/logout}" method="post">
        <button class="logout-button">
            <i class="fas fa-sign-out-alt"></i> Wyloguj
        </button>
    </form>
    <br>
    <p>Made by Wiewiórki</p>
</footer>
<script>
    function deleteLesson(blockId) {
        if (confirm('Czy na pewno chcesz usunąć ten blok?')) {
            fetch('/lessons/delete/' + lessonId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(response => {
                if (response.ok) {
                    location.reload(); // Odśwież stronę po pomyślnym usunięciu
                } else {
                    alert('Nie udało się usunąć bloku.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Wystąpił błąd podczas usuwania bloku.');
            });
        }
    }
</script>
</body>
</html>
