<!DOCTYPE html>
<html lang="en">
<head>
    <title>Zarządzanie lekcjami | Course Manager Application</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<header>
    <h1> 🐿️Course Manager Application</h1>
    <div class="header-buttons">
        <button onclick="location.href='/home'" class="logout-button">
            <i class="fas fa-home"></i> Home <!-- Ikona domu -->
        </button>

    </div>
</header>

<div class="header-title">
    <p>Zarządzanie lekcjami</p>
</div>
<br>
<br>
M
I
E
J
S
C
E

N
A

F
O
R
M
U
L
A
R
Z


</div>

<footer>


    <form th:action="@{/logout}" method="post">
        <button class="logout-button">
            <i class="fas fa-sign-out-alt"></i> Wyloguj
        </button>
    </form>
    <br>
    <p>Made by Wiewiórki</p>

</footer>
</body>
</html>