/* Resetowanie domyślnych stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-info span {
    margin-right: 10px;
}

.user-icon {
    font-size: 24px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Nowe style dla przycisku */
.logout-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #c82333;
}

.button-container {
    display: flex;
    flex-direction: column; /* Ułożenie przycisków w kolumnie */
    align-items: center; /* Wyśrodkowanie przycisków w pionie */
    margin-top: 50px; /* Odstęp od góry */
}

.button {
    width: 200px; /* Szerokość przycisków */
    padding: 10px; /* Wielkość i odstępy wewnątrz przycisków */
    margin-bottom: 15px; /* Odstęp między przyciskami */
    cursor: pointer;
    background-color: #ccc; /* Tło przycisków */
    color: #000; /* Kolor tekstu */
    border: 2px solid #888; /* Obramowanie przycisków */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center; /* Wyrównanie ikony z tekstem */
    justify-content: center; /* Wyśrodkowanie tekstu w przycisku */
}

.button:hover {
    background-color: #ddd; /* Zmiana tła po najechaniu myszką */
}

.icon {
    margin-right: 10px; /* Odstęp między ikoną a tekstem */
    font-size: 20px; /* Rozmiar ikony */
}
.button-group {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}
.header-title {
    background-color: #3498db;
    padding: 10px;
    color: white;
    text-align: center;
    width: 100%;
    margin: 0;
}
