<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Strona główna</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>


<body>

<header>
    <h1> 🐿️Course Manager Application</h1>
    <div class="header-buttons">

    </div>
</header>

<div class="container">
    <h1>Witaj, <span th:text="${username}"></span>!</h1>
</div>

<!-- Przyciski jako zakładki z ikonami -->
<div class="button-container">

    <!-- Przyciski Administratora -->

    <div sec:authorize="hasAuthority('Admin')">

        <div class="button-container">


            <!-- Kolejne 6 przycisków (grupowane po 3 w jednej kolumnie) -->
            <div class="button-column">
                <button onclick="location.href='/user/management'" class="button">
                    <span class="icon">👥</span>
                    Zarządzanie użytkownikami
                </button>

                <button onclick="location.href='/courses/management'" class="button">
                    <span class="icon">🎓</span>
                    Zarządzanie kursami
                </button>

                <button onclick="location.href='/blocks/management'" class="button">
                    <span class="icon">📚</span>
                    Zarządzanie blokami zajęć
                </button>

                <button onclick="location.href='/lessons/management'" class="button">
                    <span class="icon">📖</span>
                    Zarządzanie lekcjami
                </button>
            </div>
        </div>
    </div>


    <!-- Przyciski Wykładowcy -->
    <div sec:authorize="hasAuthority('Lecturer')">
        <!-- Przycisk 13 -->
        <button onclick="location.href='/courses'" class="button">
            <!-- Inna ikona -->
            <span class="icon">🎓</span>
            Moje kursy
        </button>
    </div>

    <!-- Przyciski Studenta -->
    <div sec:authorize="hasAuthority('Student')" class="button-container">
        <!-- Przycisk 14 -->
        <button onclick="location.href='HTML'" class="button">
            <span class="icon">📘</span> <!-- Ikona odpowiadająca "Moje zajęcia" -->
            Moje zajęcia
        </button>

        <!-- Przycisk 16 -->
        <button onclick="location.href='/lesson/notification'" class="button">
            <span class="icon">🔔</span> <!-- Ikona odpowiadająca "Powiadomienia" -->
            Powiadomienia
        </button>

        <!-- Przycisk 15 -->
        <button onclick="location.href='/calendar'" class="button">
            <span class="icon">📅</span> <!-- Ikona odpowiadająca "Kalendarz" -->
            Kalendarz zajęć
        </button>
    </div>

    <footer>
        <div class="user-info">
            <!-- Ikona ludzika -->
            <span class="user-icon">👤</span>
            <span>Zalogowany użytkownik:</span>
            <span th:text="${username}"></span> <span th:text="${roles}"></span>
        </div>

        <form th:action="@{/logout}" method="post">
            <button class="logout-button">
                <i class="fas fa-sign-out-alt"></i> Wyloguj <!-- Ikona wylogowania -->
            </button>
        </form>
        <br>
        <p>Made by Wiewiórki</p>
    </footer>

</div>

</body>

</html>