<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Strona główna</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>


<body>

<header>
    <h1>🐿️ Course Manager Application</h1>
</header>

<div class="container">
    <h1>Witaj, <span th:text="${username}"></span>!</h1>
</div>

<!-- Przyciski jako zakładki z ikonami -->
<div class="button-container">

    <!-- Przyciski Administratora -->

    <div sec:authorize="hasAuthority('Admin')">
        <div class="button-group">
        <!-- Przycisk 1 -->
        <button onclick="location.href='/admin/registration'" class="button">
            <!-- Ikona ludzika -->
            <span class="icon">👤</span>
            Dodaj użytkownika
        </button>


        <!-- Przycisk 2 -->
        <button onclick="location.href='MIEJSCE NA ADRES HTMLA2'" class="button">
            <!-- Ikona szkoły -->
            <span class="icon">🏫</span>
            Edytuj użytkownika
        </button>


        <!-- Przycisk 3 -->
        <button onclick="location.href='MIEJSCE NA ADRES HTMLA3'" class="button">
            <!-- Inna ikona -->
            <span class="icon">⭐</span>
            Usuń użytkownika
        </button>

        </div>
        <div class="button-group">
        <!-- Przycisk 4 -->
        <button onclick="location.href='MIEJSCE NA ADRES HTMLA4'" class="button">
            <!-- Inna ikona -->
            <span class="icon">🔗</span>
            Dodaj kurs
        </button>


        <!-- Przycisk 5 -->
        <button onclick="location.href='MIEJSCE NA ADRES HTMLA5'" class="button">
            <!-- Inna ikona -->
            <span class="icon">🔗</span>
            Edytuj kurs
        </button>


        <!-- Przycisk 6 -->
        <button onclick="location.href='MIEJSCE NA ADRES HTMLA6'" class="button">
            <!-- Inna ikona -->
            <span class="icon">🔗</span>
            Usuń kurs
        </button>
        </div>

        <div class="button-group">

        <!-- Przycisk 7 -->
        <button onclick="location.href='MIEJSCE NA ADRES HTMLA7'" class="button">
            <!-- Inna ikona -->
            <span class="icon">🔗</span>
            Dodaj blok zajęć
        </button>


        <!-- Przycisk 8 -->
        <button onclick="location.href='MIEJSCE NA ADRES HTMLA8'" class="button">
            <!-- Inna ikona -->
            <span class="icon">🔗</span>
            Edytuj blok zajęć
        </button>


        <!-- Przycisk 9 -->
        <button onclick="location.href='MIEJSCE NA ADRES HTMLA9'" class="button">
            <!-- Inna ikona -->
            <span class="icon">🔗</span>
            Usuń blok zajęć
        </button>

        </div>
        <div class="button-group">

        <!-- Przycisk 10 -->
        <button onclick="location.href='MIEJSCE NA ADRES HTMLA10'" class="button">
            <!-- Inna ikona -->
            <span class="icon">🔗</span>
            Raport wszystkich użytkowników
        </button>


        <!-- Przycisk 11 -->
        <button onclick="location.href='MIEJSCE NA ADRES HTMLA11'" class="button">
            <!-- Inna ikona -->
            <span class="icon">🔗</span>
            Raport wszystkich kursów
        </button>


        <!-- Przycisk 12 -->
        <button onclick="location.href='MIEJSCE NA ADRES HTMLA12'" class="button">
            <!-- Inna ikona -->
            <span class="icon">🔗</span>
            Raport wszystkich bloków zajęć
        </button>
    </div>
    </div>
    <!-- Przyciski Wykładowcy -->

    <div sec:authorize="hasAuthority('Lecturer')">
        <!-- Przycisk 13 -->
        <button onclick="location.href='MIEJSCE NA ADRES HTMLA13'" class="button">
            <!-- Inna ikona -->
            <span class="icon">🔗</span>
            Moje kursy
        </button>
    </div>

    <!-- Przyciski Studenta -->
    <div sec:authorize="hasAuthority('Student')">
        <div th:unless="${role == 'Student'}">
            <!-- Przycisk 14 -->
            <button onclick="location.href='MIEJSCE NA ADRES HTMLA14'" class="button">
                <!-- Inna ikona -->
                <span class="icon">🔗</span>
                Bloki zajęć
            </button>

            <!-- Przycisk 15 -->
            <button onclick="location.href='MIEJSCE NA ADRES HTMLA15'" class="button">
                <!-- Inna ikona -->
                <span class="icon">🔗</span>
                Kalendarz
            </button>

            <!-- Przycisk 16 -->
            <button onclick="location.href='MIEJSCE NA ADRES HTMLA16'" class="button">
                <!-- Inna ikona -->
                <span class="icon">🔗</span>
                Powiadomienia
            </button>
        </div>

    </div>

    <footer>

        <div class="user-info">
            <!-- Ikona ludzika -->
            <span class="user-icon">👤</span>
            <span>Zalogowany użytkownik:</span>
            <span th:text="${username}"></span> <span th:text="${roles}"></span>
        </div>

        <form th:action="@{/logout}" method="post">
            <button class="logout-button">
                <i class="fas fa-sign-out-alt"></i> Wyloguj <!-- Ikona wylogowania -->
            </button>
        </form>
<br>
        <p>Made by Wiewiórki</p>

    </footer>

</body>
</html>


