<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rejestracja - Course Manager Application</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<header>
    <h1>Course Manager Application</h1>
    <div class="header-buttons">
        <form th:action="@{/logout}" method="post">
            <button class="logout-button">Wyloguj</button>
        </form>
        <button onclick="location.href='/home'" class="logout-button">Home</button>
    </div>
</header>

<div class="header-title">
    <p>Dodawanie użytkownika</p>
</div>
<br>
<br>
M
I
E
J
S
C
E

N
A

F
O
R
M
U
L
A
R
Z


</div>

<footer>
    <div class="user-info">
        <!-- Ikona ludzika -->
        <span class="user-icon">👤</span>
        <span>Zalogowany użytkownik:</span>
        <span>Username</span> <span>User Roles</span>
    </div>
    <p>Made by Wiewiórki</p>
</footer>

</body>
</html>
