<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodawanie powiadomień | Course Manager Application</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .error-message { color: red; }
    </style>
</head>
<body>

<header>
    <h1> 🐿️Course Manager Application</h1>
    <div class="header-buttons">
        <button onclick="location.href='/home'" class="logout-button">
            <i class="fas fa-home"></i> Home <!-- Ikona domu -->
        </button>

    </div>
</header>

<h2>Dodaj powiadomienie</h2>
<form id="notificationForm" th:action="@{/notification/add}" method="post" th:object="${notificationDto}" onsubmit="return validateForm()">
    <label for="subject">Temat:</label>
    <input type="text" id="subject" name="subject" th:field="*{subject}" required>
    <br>

    <label for="content">Treść:</label>
    <textarea id="content" name="content" th:field="*{content}" required></textarea>
    <br>

    <label for="lessons">Zajęcia:</label>
    <select id="roles" name="roles" multiple="multiple" th:field="*{lessons}" class="form-control">
        <!-- Pętla w celu wyboru ról, np.: --> <option th:each="lesson : ${lessonList}" th:value="${lesson.id}" th:text="${lesson.subject}"></option> </select>
    <input type="text" id="lessons" name="lessons" th:field="*{lessons}" required>
    <br>

    <input type="hidden" id="createdAt" name="createdAt" th:field="*{createdAt}">
    <br>

    <button type="submit">Dodaj powiadomienie</button>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const notificationForm = document.getElementById("notificationForm");

        notificationForm.addEventListener("submit", function(event) {
            event.preventDefault();
            if (validateForm()) {
                // Tutaj dodaj kod do wysłania danych do serwera
                alert("Powiadomienie dodane pomyślnie!");
                // Resetuj formularz
                notificationForm.reset();
            }
        });

        function validateForm() {
            const subject = document.getElementById("subject").value;
            const content = document.getElementById("content").value;
            const lessons = document.getElementById("lessons").value;

            if (!subject || !content || !lessons) {
                alert("Wszystkie pola są wymagane!");
                return false;
            }

            return true;
        }
    });
</script>

<footer>

    <form th:action="@{/logout}" method="post">
        <button class="logout-button">
            <i class="fas fa-sign-out-alt"></i> Wyloguj
        </button>
    </form>
    <br>
    <p>Made by Wiewiórki</p>

</footer>

</body>
</html>
