<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Course Manager Application</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>



    </style>
</head>
<body>

<!-- Navbar -->
<nav>
    <span style="font-size: 24px;">🐿️ Course Manager Application | Zarządzaj blokiem</span>
    <br>
    <br>
    <a href="/home" class="move-right">Strona główna </a>
    <a href="/user/management" class="move-right">Zarządzanie użytkownikami</a>
    <a href="/courses/management" class="move-right">Zarządzanie kursami</a>
    <a href="/blocks/management" class="move-right">Zarządzanie blokami zajęć</a>
    <a href="/lessons/management" class="move-right">Zarządzanie lekcjami</a>

</nav>


<div class="header-title">
    <p>Dodawanie bloku zajęć</p>
</div>
<br>
<br>

<script>
    function validateClassBlockForm() {
        // Przykład sprawdzania czy pole zajęć jest wypełnione
        var className = document.getElementById('className').value;

        // Sprawdzanie, czy pole jest wypełnione
        if (className === '') {
            alert('Proszę podać nazwę bloku zajęć.');
            return false;
        }
        return true; // Formularz jest poprawny
    }
</script>

<form th:action="@{/classblocks/add}" method="post" th:object="${block}" onsubmit="return validateClassBlockForm()">
    <label for="className">Nazwa bloku zajęć:</label>
    <input type="text" id="className" name="name" required>

    <!-- Tutaj dodać pola do wypełnienia-->

    <button type="submit">Dodaj blok zajęć</button>
</form>














</div>

<footer>


    <form th:action="@{/logout}" method="post">
        <button class="logout-button">
            <i class="fas fa-sign-out-alt"></i> Wyloguj
        </button>
    </form>
    <br>
    <p>Made by Wiewiórki</p>

</footer>
</body>
</html>