<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Course Manager Application</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

    <style>



    </style>
</head>
<body>

<!-- Navbar -->
<nav>
    <span style="font-size: 24px;">🐿️ Course Manager Application | Zarządzanie blokiem </span>
    <br>
    <br>
    <a href="/home" class="move-right">Strona główna </a>
    <a href="/user/management" class="move-right">Zarządzanie użytkownikami</a>
    <a href="/courses/management" class="move-right">Zarządzanie kursami</a>
    <a href="/blocks/management" class="move-right">Zarządzanie blokami zajęć</a>
    <a href="/lessons/management" class="move-right">Zarządzanie lekcjami</a>

</nav>


<section class="full-width">
    <h2 style="text-align: center"> <span th:text="${block.name}"></span></h2>
</section>

<div class="container">
    <section class="left-column">
        <h2>Prowadzący</h2>
        <form th:action="@{/blocks/{blockId}/lecturer(blockId=${block.id})}" method="post">
            <input type="hidden" th:name="_method" th:value="POST"/>
            <label>ID Prowadzącego:</label>
            <input type="text" id="lecturerId" name="lecturerId"/>
            <input type="submit"
                   th:value="${block.lecturer == null ? 'Dodaj' : 'Zaktualizuj'}"/>
        </form>


        <h2>Informacje o prowadzącym</h2>
        <table id="courseTable1">
            <thead>
            <tr>
                <th>ID</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody th:if="${block.lecturer != null}">
            <tr>
                <td th:text="${block.lecturer.id}"></td>
                <td th:text="${block.lecturer.name}"></td>
                <td th:text="${block.lecturer.surname}"></td>
                <td th:text="${block.lecturer.email}"></td>
            </tr>
            </tbody>
            <tbody th:unless="${block.lecturer != null}">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </section>

    <section class="right-column">
        <h2>Lekcje</h2>
        <button onclick="openModal('myModal')"
                style="padding: 8px 15px; background-color: #007bff; color: #fff; border: none; border-radius: 3px; cursor: pointer;">
            Dodaj lekcję
        </button>

        <br>
        <br>
        <div id="myModal" class="modal">
            <div class="modal-content" style="max-width: 400px;">
                <span class="close" onclick="closeModal('myModal')">&times;</span>
                <form th:action="@{'/blocks/' + ${block.id} + '/lesson'}" method="post">
                    <label for="subject">Temat:</label>
                    <input type="text" id="subject" name="subject" required><br>

                    <label for="localDateTime">Data i godzina:</label>
                    <input type="datetime-local" id="localDateTime" name="localDateTime" required><br>

                    <label for="durationInMinutes">Czas trwania (w minutach):</label>
                    <input type="number" id="durationInMinutes" name="durationInMinutes" required><br>

                    <button type="submit"
                            style="margin-top: 10px; padding: 8px 15px; background-color: #007bff; color: #fff; border: none; border-radius: 3px; cursor: pointer;">
                        Dodaj
                    </button>
                </form>
            </div>
        </div>
        <table id="courseTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Temat</th>
                <th>Data i godzina</th>
                <th>Czas trwania</th>
                <th>Akcja</th>
            </tr>
            </thead>
            <tbody>
            <!-- Tutaj pętla wyświetlająca lekcje -->
            <tr th:each="lesson : ${block.lessons}">
                <td th:text="${lesson.id}"></td>
                <td th:text="${lesson.subject}"></td>
                <td th:text="${lesson.localDateTime}"></td>
                <td th:text="${lesson.duration}"></td>
                <td class="actions-column">
                    <form th:action="@{'/blocks/' + ${block.id} + '/lesson/' + ${lesson.id}}" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="delete-button">
                            <i class="fas fa-trash-alt delete-block" style="color: red;"></i>
                        </button>
                    </form>
<!--                    <a th:href="@{'/lessons/manage/' + ${lesson.id}}">-->
<!--                        -->
<!--                        <button type="button" style="color: #fff; border: none; border-radius: 3px; cursor: pointer; padding: 5px 10px;">-->
<!--                            <i class="fas fa-edit" style="color: blue;"></i>-->
<!--                        </button>-->
<!--                    </a>-->


                </td>
            </tr>
            </tbody>
        </table>
    </section>

</div>

<footer>
    <form th:action="@{/logout}" method="post">
        <button class="logout-button">
            <i class="fas fa-sign-out-alt"></i> Wyloguj
        </button>
    </form>
    <br>
    <p>Made by Wiewiórki</p>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#courseTable').DataTable({
            "language": {
                "sEmptyTable": "Brak danych",
                "sInfo": "Wyświetlono _START_ do _END_ z _TOTAL_ wpisów",
                "sInfoEmpty": "Wyświetlono 0 do 0 z 0 wpisów",
                "sInfoFiltered": "(filtrowano z _MAX_ wszystkich wpisów)",
                "sInfoThousands": ",",
                "sLengthMenu": "Pokaż _MENU_ wpisów",
                "sLoadingRecords": "Ładowanie...",
                "sProcessing": "Przetwarzanie...",
                "sSearch": "Szukaj:",
                "sZeroRecords": "Brak pasujących wyników",
                "oPaginate": {
                    "sFirst": "Pierwsza",
                    "sLast": "Ostatnia",
                    "sNext": "Następna",
                    "sPrevious": "Poprzednia"
                },
                "oAria": {
                    "sSortAscending": ": aktywuj, by posortować kolumnę rosnąco",
                    "sSortDescending": ": aktywuj, by posortować kolumnę malejąco"
                }
            }
        });
    });

    $(document).ready(function () {
        $('#courseTable1').DataTable({
            "language": {
                "sEmptyTable": "Brak danych",
                "sInfo": "Wyświetlono _START_ do _END_ z _TOTAL_ wpisów",
                "sInfoEmpty": "Wyświetlono 0 do 0 z 0 wpisów",
                "sInfoFiltered": "(filtrowano z _MAX_ wszystkich wpisów)",
                "sInfoThousands": ",",
                "sLengthMenu": "Pokaż _MENU_ wpisów",
                "sLoadingRecords": "Ładowanie...",
                "sProcessing": "Przetwarzanie...",
                "sSearch": "Szukaj:",
                "sZeroRecords": "Brak pasujących wyników",
                "oPaginate": {
                    "sFirst": "Pierwsza",
                    "sLast": "Ostatnia",
                    "sNext": "Następna",
                    "sPrevious": "Poprzednia"
                },
                "oAria": {
                    "sSortAscending": ": aktywuj, by posortować kolumnę rosnąco",
                    "sSortDescending": ": aktywuj, by posortować kolumnę malejąco"
                }
            }
        });
    });

    function openModal(modal) {
        document.getElementById(modal).style.display = 'block';
    }

    function closeModal(modal) {
        document.getElementById(modal).style.display = 'none';
    }

</script>
<!-- ... -->
</body>
</html>
