<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dodawanie bloku zajęć | Course Manager Application</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<header>
    <h1> 🐿️Course Manager Application</h1>
    <div class="header-buttons">
        <button onclick="location.href='/home'" class="logout-button">
            <i class="fas fa-home"></i> Home <!-- Ikona domu -->
        </button>

    </div>
</header>

<div class="header-title">
    <p>Dodawanie bloku zajęć</p>
</div>
<br>
<br>

<script>
    function validateClassBlockForm() {
        // Przykład sprawdzania czy pole zajęć jest wypełnione
        var className = document.getElementById('className').value;

        // Sprawdzanie, czy pole jest wypełnione
        if (className === '') {
            alert('Proszę podać nazwę bloku zajęć.');
            return false;
        }
        return true; // Formularz jest poprawny
    }
</script>

<form th:action="@{/classblocks/add}" method="post" th:object="${block}" onsubmit="return validateClassBlockForm()">
    <label for="className">Nazwa bloku zajęć:</label>
    <input type="text" id="className" name="name" required>

    <!-- Tutaj dodać pola do wypełnienia-->

    <button type="submit">Dodaj blok zajęć</button>
</form>














</div>

<footer>


    <form th:action="@{/logout}" method="post">
        <button class="logout-button">
            <i class="fas fa-sign-out-alt"></i> Wyloguj
        </button>
    </form>
    <br>
    <p>Made by Wiewiórki</p>

</footer>
</body>
</html>