<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Course Manager Application</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

    <style>



    </style>
</head>
<body>

<!-- Navbar -->
<nav>
    <span style="font-size: 24px;">🐿️ Course Manager Application | Zarządzanie blokami zajęć</span>
    <br>
    <br>
    <a href="/home" class="move-right">Strona główna </a>
    <a href="/user/management" class="move-right">Zarządzanie użytkownikami</a>
    <a href="/courses/management" class="move-right">Zarządzanie kursami</a>
    <a href="/blocks/management" class="move-right">Zarządzanie blokami zajęć</a>
    <a href="/lessons/management" class="move-right">Zarządzanie lekcjami</a>

</nav>
<br>
<br>

<table id="courseTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>#Lekcje</th>
        <!--        <th>Prowadzący</th>-->
        <th>Akcje</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="block : ${blocksList}">
        <td th:text="${block.id}"></td>
        <td th:text="${block.name}"></td>
        <td th:text="${block.lessons.size()}"></td>
        <!--        <td th:text="${block.lecturer.name}"></td>-->
        <td class="actions-column">
            <a th:href="@{'/blocks/manage/' + ${block.id}}">
                <button type="button" style="background-color: #007bff; color: #fff; border: none; border-radius: 3px; cursor: pointer; padding: 5px 10px;">
                    Zarządzaj blokiem
                </button>
            </a>
            <form th:action="@{'/blocks/delete/' + ${block.id}}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="delete-button">
                    <i class="fas fa-trash-alt delete-block" style="color: red;"></i>
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<footer>
    <form th:action="@{/logout}" method="post">
        <button class="logout-button">
            <i class="fas fa-sign-out-alt"></i> Wyloguj
        </button>
    </form>
    <br>
    <p>Made by Wiewiórki</p>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#courseTable').DataTable({
            "language": {
                "sEmptyTable": "Brak danych",
                "sInfo": "Wyświetlono _START_ do _END_ z _TOTAL_ wpisów",
                "sInfoEmpty": "Wyświetlono 0 do 0 z 0 wpisów",
                "sInfoFiltered": "(filtrowano z _MAX_ wszystkich wpisów)",
                "sInfoThousands": ",",
                "sLengthMenu": "Pokaż _MENU_ wpisów",
                "sLoadingRecords": "Ładowanie...",
                "sProcessing": "Przetwarzanie...",
                "sSearch": "Szukaj:",
                "sZeroRecords": "Brak pasujących wyników",
                "oPaginate": {
                    "sFirst": "Pierwsza",
                    "sLast": "Ostatnia",
                    "sNext": "Następna",
                    "sPrevious": "Poprzednia"
                },
                "oAria": {
                    "sSortAscending": ": aktywuj, by posortować kolumnę rosnąco",
                    "sSortDescending": ": aktywuj, by posortować kolumnę malejąco"
                }
            }
        });
    });
</script>
</body>
</html>
